* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    place-items: center;
    min-height: 100vh;
    display: flex;
}

main{
    display: grid;
    grid-template-areas:
    'o o o y '
    'g g b b'
    'g g bl bl'
    ;
    row-gap: 20px;
    column-gap: 10px;
    width: 50%;
    margin: auto;
}

main div{
    padding:2em;
    text-align: center;
    

}


.item-a{
    background-color: orangered;
    grid-area: o;
    grid-row-start: 1;
    grid-row-end: 10;

}

.item-b {
    background-color: darkorange;
    grid-area: y;
    grid-row-start: 1;
    grid-row-end: 10;
}

.item-c {
    background-color: rgb(35, 116, 35);
    grid-area: g;
    grid-row-start: 10;
    grid-row-end: 18;

}

.item-d{
    background-color: lightskyblue;
    grid-area: b;
    grid-row-start:10;
    grid-row-end:11;
    
}

.item-e{
    background-color: lightskyblue;
    grid-area: bl;
    grid-row-start:11;
    grid-row-end:18;
}